.vscode/
env/
*.DS_Store

__pycache__/
# *.png
*.ply
*.npz
*.npy
*.pkl
code/outputs/
*.obj
*.ipynb
*.so
code/training_log
data
code/test_log
mocap_data_copy
pifuhd
lightweight-human-pose-estimation.pytorch
*.pth
ait_viewer_vis/imgui.ini
export
**/slurm-*.out
preprocessing/model_data.zip
preprocessing/model_data
preprocessing/raw_data
imgui.ini
outputs
code/build/
code/dist/
code/UNKNOWN.egg-info/
code/lib/cuda/
/preprocessing/trace_results